
.about
{    
    position: absolute;
    width: 1280px;
    margin-left: -640px;
    left: 50%;
    top: 78px;
    height: calc(100% - 78px);
    font-family: "Helvetica";
    font-weight: lighter;
    /*border: solid black 1px;*/
}

/*** 卡片 开始 ***/
.about__cards__wrapper
{    
    position: absolute;
    width: 1060px;
    height: 725px;/*724.5px=630x1.15>630*/
    margin-top: -315px;/*315=630x0.5*/
    left: 110px;
    top: calc(50% - 90px);/*90=about__card__title的高度x0.5*/
    overflow: hidden;
    /*border: solid #00ff00 1px;*/
}
.about__cards
{
    position: absolute;
    left: 0px;
    font-size: 370px;   
}
.about__card
{
    position: absolute;
    width: 320px;
}
.about__card__title
{
    color: #004174;
    font-size: 38px;
    text-align: center;
    height: 180px;
    line-height: 180px;
}
.about__card__content
{
    width: 318px;/*318=320-2*/
    height: 448px;/*448=450-2*/
    border-radius: 2px;
    border: solid #ed871b 1px;      
}
.about__card__content__img
{
    font-size: 20px;
    margin: 1.75em auto;
    width: 10em;
    height: 10em;
    border-radius: 5em;
    overflow: hidden;     
}
.about__card__content__img>img
{
    width: 100%;
}
.about__card__content__headline
{
    color: #a3a6a9;
    font-size: 20px;
    text-align: center; 
    height: 5em;
}
.about__card__content__btnReadMore
{
    color: #ffffff;    
    font-size: 20px;
    text-align: center;
    width: 10em;
    line-height: 2.8em;
    height: 2.8em;    
    border-radius: 2.8em;
    background-color: #ed871b;
    margin: 0 auto;
    cursor: pointer;  
}

.about__cards>div:nth-child(1)
{
    left: 0em;    
}
.about__cards>div:nth-child(2)
{
    left: 1em;    
}
.about__cards>div:nth-child(3)
{
    left: 2em;    
}
.about__cards>div:nth-child(4)
{
    left: 3em;    
}
.about__cards>div:nth-child(5)
{
    left: 4em;    
}
.about__cards>div:nth-child(6)
{
    left: 5em;    
}
.about__cards>div:nth-child(7)
{
    left: 6em;    
}

/*** 卡片 结束 ***/
/*** 详细信息 开始 ***/
.about__details__wrapper
{
    position: absolute;
    width: 1058px;
    height: calc(100% - 80px);
    left: 110px;
    top: 40px;
    border-radius: 2px;
    border: solid #ed871b 1px;
    background-color: #ffffff;
    overflow: hidden;
    display: none;
}
.about__details
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    font-size: 1060px;       
}
.about__detail
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.about__detail__img
{
    height: 256px;
    background: url(../images/about/headImg1.jpg) no-repeat center center;
    background-size: cover;    
}
.about__detail>img
{
    width: 100%;
    display: block;
}
.about__detail__headline
{
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 110px;
    left: 440px; 
}
.about__detail__headline>span
{
    font-size: 42px;        
}
.about__detail__content
{
    color: #909090;
    font-size: 18px;
    height: calc(100% - 265px);
    overflow-y: auto;
}
.about__detail__content>h2
{    
    font-size: 28px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;    
}
.about__detail__content span
{
    color: #494949;       
}
.about__detail__content>p
{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px; 
}

.about__details>div:nth-child(1)
{
    left: 0em;    
}
.about__details>div:nth-child(2)
{
    left: 1em;    
}
.about__details>div:nth-child(3)
{
    left: 2em;    
}
.about__details>div:nth-child(4)
{
    left: 3em;    
}
.about__details>div:nth-child(5)
{
    left: 4em;    
}
.about__details>div:nth-child(6)
{
    left: 5em;    
}
.about__details>div:nth-child(7)
{
    left: 6em;    
}

.about__detail__btnClose
{
    cursor: pointer;
    position: absolute;    
    width: 50px;
    height: 50px;
    top: 0;
    right: 0; 
    background: url(../images/common/btnClose.png) no-repeat center center;
}
/*** 详细信息 结束 ***/
/*** 左右切换按钮 开始 ***/
.about__btnLeft
{
    cursor: pointer;
    position: absolute;    
    width: 110px;
    height: 110px;
    margin-top: -55px;
    left: 0;
    top: 50%;   
    background: url(../images/common/btnLeft.png) no-repeat;
    background-position: 15px center;
}
.about__btnRight
{
    cursor: pointer;
    position: absolute;
    width: 110px;
    height: 110px;
    margin-top: -55px;
    right: 0;
    top: 50%;    
    background: url(../images/common/btnRight.png) no-repeat;
    background-position: 49px center;
}
/*** 左右切换按钮 结束 ***/



@media screen and (max-width:480px)
{
    .about
    {
        width: 100%;
        margin-left: 0;
        left: 0;
        top: 40px;
        height: calc(100% - 40px);
    }
    .about__cards__wrapper
    {
        font-size: 10px;
        width: 100%;
        height: 31.51em;/*27.4x1.15=31.51*/
        margin-top: -13.7em;
        left: 0;
        top: calc(50% - 2.5em);
    }
    .about__cards
    {
        width: 70vw;
        height: 100%;
        /*left: 15%;*/
    }
    .about__card
    {        
        height: 100%;        
        width: 100%;    
    }      
    .about__card__title
    {
        font-size: 10px;
        height: 5em;
        line-height: 5em;            
    }
    .about__card__content
    {
        width: calc(100% - 2px);
        font-size: 10px;
        height: 22.4em;/*1.75+1.75+10+5+2.8+1;*/
    }
    .about__card__content__img
    {
        font-size: 10px;
    }
    .about__card__content__headline
    {
        font-size: 10px; 
    }
    .about__card__content__btnReadMore
    {
        font-size: 10px; 
    }
    
    .about__btnLeft
    {
        width: 10vw;
        height: 20vw;
        margin-top: -10vw;
        background-position: center center;
        background-size: 7vw 14vw;/*89/46约等于2*/  
        
    }
    .about__btnRight
    {
        width: 10vw;
        height: 20vw;
        margin-top: -10vw;
        background-position: center center;
        background-size: 7vw 14vw;        
    }
    
    .about__details__wrapper
    {
        width: 80%;
        height: calc(80% - 32px);/*(100%-40px)*0.8*/
        left: 10%;
        top: calc(10% - 4px);        
    }
    .about__detail__img
    {
        height: 100px;
        background: url(../images/about/headImg1.jpg) no-repeat center center;
        background-size: cover;    
    }    
    .about__detail__headline
    {
        font-size: 8px;
        left: 0;
        top: 0;
        padding: 40px 20px;
    }
    
    .about__detail__headline>span
    {
        font-size: 16px;        
    }
    
    .about__detail__content
    {
        font-size: 9px;
        height: calc(100% - 100px);
    }
    
    .about__detail__content>h2
    {    
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 15px;    
    }
    
    .about__detail__content>p
    {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px; 
    }
    
    .about__detail__btnClose
    {
        width: 40px;
        height: 40px;
        background-size: 20px 20px;
    }
    
    
    
    
    
}


