.digital
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    font-family: Helvetica;
    color: #ffffff;
}
/*** slider 开始 ***/
.digital__slider
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider__img
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
.digital__slider>.slider__img:nth-child(1)
{
    left: 0;
    background-image: url(../images/service/digital/img1.jpg)
}
.digital__slider>.slider__img:nth-child(2)
{
    background-image: url(../images/service/digital/img2.jpg)
}
.digital__slider>.slider__img:nth-child(3)
{
    background-image: url(../images/service/digital/img3.jpg)
}
.digital__slider>.slider__img:nth-child(4)
{
    background-image: url(../images/service/digital/img4.jpg)
}

.slider__indicators
{
    position: absolute;
    right: 52.5px;/*150x0.5-45*0.5*/
    bottom: 2.5%;  
    width: 180px;/*45x4=180*/
    height: 80px;
}
.slider__indicator
{
    position: absolute;
    font-size: 45px;
    width: 45px;
}
.slider__indicator__over
{
    display: none;
}
.slider__indicator__text
{
    position: absolute;
    width: 150px;/*宽度能包裹所有的文本即可*/
    left: -52.5px;/*150x0.5-45*0.5*/        
    font-size: 13.5px;
    text-align: center;          
}
.slider__indicator__tri
{
    position: absolute;
    width: 100%;
    height: 15px;
    top: 40px;    
    background: url(../images/service/digital/arrow_up.png) no-repeat center top;
}
.slider__indicator__circle
{
    position: absolute;
    width: 100%;
    height: 25px;
    top: 55px;
    cursor: pointer;
}
.slider__indicator__circle>div
{
    width: 10px;
    height: 10px;
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border: solid 2px #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ffffff;
}
.slider__indicator__circle__select
{
    background-color: transparent
}

.slider__indicators>.slider__indicator:nth-child(1)
{
    left: 0em;
}
.slider__indicators>.slider__indicator:nth-child(2)
{
    left: 1em;
}
.slider__indicators>.slider__indicator:nth-child(3)
{
    left: 2em;
}
.slider__indicators>.slider__indicator:nth-child(4)
{
    left: 3em;
}
/*** slider 结束 ***/

/*** btnAdaptation btnCreate 开始 ***/
.digital__btn
{
    position: absolute;
    width: 15vw;
    height: 15vw;
    bottom: 8.5%;
    
    cursor: pointer;
    
    border: solid 1px #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 15vw;    
    
    font-size: 2vw;
}
.digital__btn:hover
{
    background-color: rgba(255, 160, 25, 0.8)    
}
.digital__btnAdaptation
{
    right: calc(50% + 2%);
}
.digital__btnCreate
{
    left: calc(50% + 2%);
}
/*** btnAdaptation btnCreate 结束 ***/



/*** 手机 开始 ***/
@media screen and (max-width:480px)
{
    .digital__btn
    {
        width: 25vw;
        height: 25vw;
        line-height: 25vw;
        bottom: calc(50% - 12.5vw);
    }   
    .slider__indicators
    {
        margin-right: -90px;
        right: 50%;
    }
}
/*** 手机 结束 ***/





