html,body,video,div
{
    margin: 0;
    padding: 0;
}

.btn-takephoto
{
    width: 100px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    border-radius: 3px;
    font-size: 16px;
}