html,body{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
#department{
	width: 1280px;
	height: 794px;
	position: relative;
	overflow: hidden;
	top: 78px;
	display: none;
	section{
		float: left;
		position: relative;
		@for $i from 1 through 4 {
			// @debug section-#{$i};
			&.section-#{$i}{
				width: 639px;
				height: 397px;
				cursor: pointer;
				overflow: hidden;
				.c-txt-#{$i}{
					@include txt-sprite('TXT-#{$i}-1');
					position: absolute;
					z-index: 2;
					top: 50%;
					left: 50%;
					margin-top: txt-sprite-height('TXT-#{$i}-1')/-2;
					margin-left: txt-sprite-width('TXT-#{$i}-1')/-2;
					&.txtHover{
						@include txt-sprite('TXT-#{$i}-2');
					}
				}
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 1;
				}
			}
		}
		p{	
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 397px;
			color: #fff;
			font-size: 25px;
		}
	}
	
}
@media screen and (max-width:480px){
	html,body{
		overflow-x: hidden;
		overflow-y: auto;
	}
	#department{
		width: 100%;
	    height: auto;
	    position: relative;
	    overflow: hidden;
	    left: 0;
	    margin-left: 0;
	    top: 40px;
	    section{
	    	@for $i from 1 through 4 {
	    		&.section-#{$i}{
	    			width: 100vw;
    				height: 57vw;
	    		}
	    	}
	    	p{
	    		line-height: 57vw;
	    	}
	    }
	}
}
